<%= render 'shared/navbar' %>
<div data-controller="tasks" >
  <div style="height: 5vh"></div>
  <div class="d-flex justify-content-between" style="margin-right: 6vw; margin-left: 5vw">
    <h3>Mapa de Denúncias</h3>
    <h3>Denúncias Registradas <span style="color: red;"><%= @total_scammers %></span></h3>
  </div>
  <div class='row' style="margin-right: 5vw; margin-left: 4vw">
    <div >
      <%= render partial: "zones/map" %>
    </div>
  </div>
  <div style="margin-top: 5vh">
    <%= render partial: "search" %>
  </div>

</div>
