<div></div>
<div style="height: 5vh"></div>
<div class="d-flex flex-row-reverse bd-highlight" style="margin-right: 5%">
  <h3>Denúncias Registradas <span style="color: red;"><%= @total_scammers %></span></h3>
</div>
<%= render partial: "zones/map" %>
<%= render 'search', tasks: @tasks %>
<%= render 'table', tasks: @tasks %>
