<%= render 'shared/navbar' %>
<div data-controller="tasks" >
  <div style="height: 5vh"></div>
  <div class='row' style="margin-right: 5vw; margin-left: 4vw">
    <div>
      <h4>Filtrar Busca</h4>
      <%= render partial: "search" %>
    </div>
    <div class="d-flex justify-content-between" style="margin-right: 6vw;">
      <h4>Denúncias Registradas <span style="color: red;"><%= @total_scammers %></span></h4>
    </div>
    <div class="zones-maps mb-5">
      <%= render partial: "zones/map" %>
    </div>
  </div>
</div>
