
<div class="banner">
  <div class="container hero">
    <div class="mask" style="background-color: rgba(251, 251, 251, 0.4)">
      <%# <button class="btn-banner"> %>
      <div class="container info">
        <h1>Ajude-nos a avisar outras pessoas!</h1>
        <p>O PegaGolpista é o site Nº 1 em <strong>rastreamento</strong>, <strong>denúncias</strong> e <strong>informações</strong> sobre os mais diferentes tipos de golpes.</p>
        <p>Caso queira fazer uma <strong>denúncia</strong> ou ver as denúncias publicadas, poderá encontrar o nosso formulário e as denúncias clicando nos botões abaixo.</p>
      <%# </button> %>
      </div>
    </div>
    <div class="container buttons">
      <div class="row d-flex justify-content-center">
      <a href="tasks/new" class="btn-denunciar">DENUNCIAR</a>
      <a href="tasks" class="btn-lista">VER DENÚNCIAS</a>
      </div>
    </div>
  </div>
</div>
