
<div class="banner">
  <div class="container hero mt-5">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
      <button class="btn-banner">
      <h1>Ajude-nos a avisar outras pessoas!</h1>
      <p>O PegaGolpista é o site Nº 1 em rastreamento, denúncias e informações sobre os mais diferentes tipos de golpes.</p>
      <p>Caso queira fazer uma denucia, poderá encontrar o nosso formulário abaixo</p>
      <%# <button class="btn-denunciar">DENUNCIAR</button> %>
      </button>
    </div>
  </div>
</div>
