<div class="footer">
  <div class="footer-links">
    <a href="https://c.tenor.com/_4YgA77ExHEAAAAd/rick-roll.gif"><i class="fab fa-twitter"></i></a>
    <a href="https://i2-prod.walesonline.co.uk/incoming/article1876018.ece/ALTERNATES/s615/13212051.jpg"><i class="fab fa-instagram"></i></a>
  </div>
  <div class="footer-copyright">
    Um site feito por <strong>golpistas</strong> para <strong>golpistas</strong>
  </div>
</div>
