<div class="footer-background">
  <div class="footer">
    <div class="footer-links">
      <a href="https://c.tenor.com/_4YgA77ExHEAAAAd/rick-roll.gif"><i class="fab fa-twitter"></i></a>
      <a href="https://i2-prod.walesonline.co.uk/incoming/article1876018.ece/ALTERNATES/s615/13212051.jpg"><i class="fab fa-instagram"></i></a>
    </div>
    <div class="footer-copyright">
      <h3 class="d-flex justify-content-center"><strong>© 2022 PegaGolpista.</strong></h3>
      <h3 class="d-flex justify-content-center">Todos os direitos reservados.</h3>
      <ul class="list-inline">
        <li class="privacidade p-1">Privacidade</li>
        <li class="faq p-1">Perguntas Frequentes</li>
        <li class="ajuda p-1">Ajuda</li>
      </ul>
    </div>
  </div>
</div>
