<%# <div style='height: 45px; background-color: #012a4a;'></div> %>
<nav class="navbar navbar-expand-sm sticky-top"
     data-controller="navbar"
     data-action="scroll@window->navbar#updateNavbar"
>
  <div class="container">
    <a class="navbar-brand" href="/">
      <%= image_tag "logo.svg", class: "logo" %>
    </a>
    <div class="nav-list">
      <ul class="navbar-nav">
        <li class="nav-item" id="nav-a">
          <%= link_to "DENUNCIAR", "tasks/new", class: "nav-link denunciar" %>
        </li>
        <li class="nav-item" id="nav-b">
          <%= link_to "VER DENÚNCIAS", "tasks", class: "nav-link ver" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
