<nav class="navbar navbar-expand-lg sticky-top"
 data-controller="navbar"
     data-action="scroll@window->navbar#updateNavbar">
  <div class="container nav">
    <a class="navbar-brand" href="/">
      <%= image_tag "logo.svg", alt: "logo", class: "logo" %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <%= link_to "DENUNCIAR", "../tasks/new", class: "nav-link denunciar" %>
        </li>
        <li class="nav-item">
          <%= link_to "VER DENÚNCIAS", "../tasks", class: "nav-link ver" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
