<h1> Tipos comuns de fraude </h1>
<p>Quais os tipos mais comuns de fraudes?
Existem muitas fraudes que as pessoas caem por inocência ou por falta de atenção. Os mais comuns atualmente são:

Boletos falsos
Golpistas interceptam a sua correspondência e trocam boletos verdadeiros por falsos, ou simulam sites de fachada para você baixar boletos fraudados. Assim, quando você pagar o boleto, na verdade estará enviando o dinheiro para os golpistas.

Roubo de dados em sites falsos
Fraudadores usam sites quase idênticos ao original de lojas famosas para obter seus dados. Pode parecer um erro de senha ou um recadastro. De qualquer forma, preste atenção no link clicado e se for uma loja desconhecida, procure saber mais sobre o e-commerce.

Compra de linhas telefônicas
Quando os estelionatários compram uma linha de telefone fixa ou de celular em seu nome para poder ter comprovante de residência para poder cometer outros crimes como:

Abertura de empresas
Muitas vezes, os bandidos abrem empresas no nome das vítimas. Elas se transformam em “laranjas”. Com a empresa, os bandidos podem aplicar golpes maiores, pedir empréstimos ou financiamentos em bancos.

Pedido de empréstimos com documentos falsificados
Essas são as fraudes mais comuns. E uma das mais perigosas também. Quando um bandido usa seu CPF para pedir empréstimos, ele claramente não vai pagar a parcela. E você acaba ficando com o nome negativado. Muitas vezes só vai saber que isso aconteceu, quando precisa de crédito e ele é negado.</p>