<%# About Us page %>
<h1>Sobre nós</h1>

<h2>Nessa página explicaremos como o projeto foi feito e arquitetado</h2>
<p>É importante mostras o esquema por trás do projeto. Básicamente tivemos a ideia de
fazer algo simples, para que pudéssemos investir mais tempo na arquitetura do projeto. Sem páginas, componentes
pré moldados ou criados com código pronto, mas sim, componentes criados a mão, estaríamos livres para fazer uma
aplicação de uma só página. Muito componentizada e dividida, para que caso alguma coisa no código desse errado,
a página continuasse funcionando perfeitamente sem este componente.</p>
<h3>Abaixo segue o esquema da aplicação</h3>
