<%#= render 'zones/map' %>
<%= render 'shared/banner' %>

<div class="container">
    <div class="col-lg-3">
        <%= render 'pages/types_of_fraud' %>
        <%= render "tasks/form"%>
        <%= render 'pages/prevention' %>
    </div>
</div>
