<%# //section main banner start %>
<div class="banner col-12 col-row-10 h-auto p-4" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/altonj/image/upload/v1661027471/background_bp6rjx.png);">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-lg-4 col-md-12">
        <div class="card-1 card text-white h-100">
          <div class="card-body d-flex flex-column align-items-start">
            <h4 class="card-title text-center">Ajude-nos a avisar outras pessoas</h4>
            <p class="card-text banner-text"> </p>
            <a href="#" class="btn-1 btn btn-danger w-100 text-white  mt-auto">DENUNCIAR</a>
          </div>
        </div>
      </div>
      <div class="col-lg-2"></div>
      <div class="p-2 space-1 w-100" ></div>
      <div class="col-lg-6 text-center">
        <div class="d-inline p-2 text-bg-danger text-white">INDENTIFICOU <span class="divider-mobile"> UM GOLPE</span></div>
        <div class="p-1"></div>
        <div class="d-inline p-2 text-bg-danger text-white d-xl-none">UM GOLPE</div>
        <div class="p-1"></div>
        <div class="d-inline p-2 text-bg-danger text-white">DENUNCIE!</div>
      </div>
    </div>
  </div>
</div>
<%# //section main banner end %>

<%# section map start %>
<div class="containner mt-5">
  <div class="row">
    <div class="col-lg-2" ></div>
    <div class="col-12 col-lg-6 col-md-12">
      <div class="map" >
        <div class="mapouter">
          <div class="gmap_canvas">
            <iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=rio%20de%20janeiro%20brasil&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            <a href="https://www.embedgooglemap.net/blog/divi-discount-code-elegant-themes-coupon/"></a>
          </div>
          <style>
            .mapouter{position:relative;text-align:right;height:500px;width:100%;}
            .gmap_canvas {overflow:hidden;background:none!important;height:500px;width:100%;}
          </style>
        </div>
      </div>
    </div>
    <div class="col-lg-2" >
      <div class="search-for-scammers">
        <div class="card-1 card text-white h-100">
          <div class="card-body d-flex flex-column align-items-start">
            <h4 class="card-title text-center">Procure por golpistas</h4>

            <div class="input-group">
              <input type="number" class="form-control" placeholder="CEP" aria-label="Recipient's username" aria-describedby="button-addon2">
            </div>
            <div class="input-group mt-2">
              <input type="text" class="form-control" placeholder="Scammer Name" aria-label="Recipient's username" aria-describedby="button-addon2">
            </div>
            <div class="input-group mt-2">
              <input type="text" class="form-control" placeholder="Scammer Type" aria-label="Recipient's username" aria-describedby="button-addon2">
            </div>
            <div class="input-group mt-2">
              <input type="text" class="form-control" placeholder="Phone" aria-label="Recipient's username" aria-describedby="button-addon2">
            </div>
            <div class="input-group mt-2">
              <input type="text" class="form-control" placeholder="e-mail" aria-label="Recipient's username" aria-describedby="button-addon2">
            </div>
            <p class="card-text banner-text mt-2">*Insira ao menos um dos campos e realize sua busca</p>
            <a href="#" class="btn-1 btn btn-danger w-100 text-white  mt-auto">BUSCAR</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%# //section map end %>


  <%# section last banner start %>

  <%# //section last banner end %>


  <%# section main footer start %>

  <%# //section main footer end %>
