<!-- Hero -->
<div class="p-5 text-center bg-image rounded-3" id="banner" style="
    background-image: url('https://images.unsplash.com/photo-1575467678930-c7acd65d6470?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80')">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
    <div class="align-items-center h-100 py-4">
      <div class="text-white text-center">
        <h1 class="mb-3" style="text-shadow: 0 0 5px rgb(0 0 0);">Adivinha quem cozinha melhor que a sua mãe?</h1>
        <h2 class="mb-3" style="text-shadow: 0 0 5px rgba(0 0 0 0.5);">Os melhores bolos, os melhores bordados, os melhores conselhos</h2>
        <h3 class="mb-3">Sim, nós temos <strong>Vovós</strong>!</h3>
        <a class="btn btn-outline-light btn-lg" id="buttom-banner" href="/grannies" role="button">Conheça nossas Vovós!</a>
      </div>
    </div>
  </div>
</div>

<!-- Hero -->

<!-- Hero -->
<div class="p-5 text-center bg-image rounded-3" id="banner" style="
    background-image: url('https://images.unsplash.com/photo-1575467678930-c7acd65d6470?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80')">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
    <div class="align-items-center h-100 py-4">
      <div class="text-white text-center">
        <h1 class="mb-3" style="text-shadow: 0 0 5px rgb(0 0 0);">Adivinha quem cozinha melhor que a sua mãe?</h1>
        <h2 class="mb-3" style="text-shadow: 0 0 5px rgba(0 0 0 0.5);">Os melhores bolos, os melhores bordados, os melhores conselhos</h2>
        <h3 class="mb-3">Sim, nós temos <strong>Vovós</strong>!</h3>
        <a class="btn btn-outline-light btn-lg" id="buttom-banner" href="/grannies" role="button">Conheça nossas Vovós!</a>
      </div>
    </div>
  </div>
</div>
<!-- Hero -->


<!-- Hero -->
<div class="p-5 text-center bg-image rounded-3" id="banner" style="
    background-image: url('https://images.unsplash.com/photo-1575467678930-c7acd65d6470?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80')">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
    <div class="align-items-center h-100 py-4">
      <div class="text-white text-center">
        <h1 class="mb-3" style="text-shadow: 0 0 5px rgb(0 0 0);">Adivinha quem cozinha melhor que a sua mãe?</h1>
        <h2 class="mb-3" style="text-shadow: 0 0 5px rgba(0 0 0 0.5);">Os melhores bolos, os melhores bordados, os melhores conselhos</h2>
        <h3 class="mb-3">Sim, nós temos <strong>Vovós</strong>!</h3>
        <a class="btn btn-outline-light btn-lg" id="buttom-banner" href="/grannies" role="button">Conheça nossas Vovós!</a>
      </div>
    </div>
  </div>
</div>


<%= render 'pages/types_of_fraud' %>

