<%- if results.present? %>
  <table class="table-bordered table-zebra">
    <thead>
      <tr>
        <th />
          <th>Record type</th>
          <th>Record description</th>
        </tr>
      </thead>
      <tbody>
        <%- @results.each do |result| %>
          <tr>
            <td>
              <%= radio_button_tag "record_to_assign", "#{result[:record_type]},#{result[:record_id]}" %>
            </td>
            <td> <%= result[:record_type] %> </td>
            <td> <%= result[:hint] %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
