<div class="container">
  <div class="grid grid-center">
    <div class="grid-item 3/4">
      <h1>Elasticsearch demo</h1>

      <%= render "form" %>
      <%= render "/tasks/table" %>
      <%# <%= render "/scammers/table" %> %>
    </div>
  </div>
</div>
