
<%# initialize Google Map %>
<div data-controller="maps" data-maps-markers-value="<%= @markers.to_json %>" data-maps-count-of-scammers-value="<%= @countOfScammers.to_json %>" id="map" style="width: 100%; height: 500px;"></div>

