<div class="container">
  <div class="row">
    <div id="map">
      <%# <h4 class="card-title text-center text-primary">Procure por golpistas</h4> %>
      <div class="input-group">
        <input type="number" class="form-control" placeholder="CEP" id="cep" aria-label="Recipient's cep" aria-describedby="button-addon2" style="flex: 0.5 auto" >
      </div>
      <%# <div class="input-group mt-2">
        <input type="text" class="form-control" placeholder="Scammer Name" aria-label="Recipient's username" aria-describedby="button-addon2">
      </div>
      <div class="input-group mt-2">
        <input type="text" class="form-control" placeholder="Scammer Type" aria-label="Recipient's username" aria-describedby="button-addon2">
      </div>
      <div class="input-group mt-2">
        <input type="text" class="form-control" placeholder="Phone" aria-label="Recipient's phone" aria-describedby="button-addon2">
      </div>
      <div class="input-group mt-2">
        <input type="text" class="form-control" placeholder="e-mail" aria-label="Recipient's email" aria-describedby="button-addon2">
      </div> %>
      <%# <p class="card-text banner-text mt-2">*Insira ao menos um dos campos e realize sua busca</p> %>
      <a href="#" class="btn-buscar" id="cep">BUSCAR</a>
    </div>
  </div>
  <div class="row">
    <div class="map">
        <%# initialize Google Map %>
      <div data-controller="maps" data-maps-markers-value="<%= @markers.to_json %>" data-maps-count-of-scammers-value="<%= @countOfScammers.to_json %>" id="map" style="width: 100%; height: 500px;"></div>
    </div>
  </div>
</div>

<%#
<div class="containner mt-5">
  <div class="row">
    <div class="col-lg-2" ></div>
    <div class="col-12 col-lg-6 col-md-12">
      <div class="map" >
        <div class="mapouter">
          <div class="gmap_canvas">
            <iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=rio%20de%20janeiro%20brasil&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            <a href="https://www.embedgooglemap.net/blog/divi-discount-code-elegant-themes-coupon/"></a>
          </div>
          <style>
            .mapouter{position:relative;text-align:right;height:500px;width:100%;}
            .gmap_canvas {overflow:hidden;background:none!important;height:500px;width:100%;}
          </style>
        </div>
      </div>
    </div> %>
  <%# <div style="height: 250px;"></div> %>
