.footer {
  // margin-top: 1rem;
  background: rgb(1,42,74);
  background: linear-gradient(0deg, rgba(1,42,74,1) 0%, rgba(1,42,74,1) 40%, rgba(1,42,74,0.8) 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  bottom: 0;
  width: 100%;
  height: 8.5rem;
}

div.footer-copyright h3 {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: #b8b8b8;
  // opacity: 0.15;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
  color: #D23333;
}

.footer .fa-heart {
  color: #D23333;
}

.footer-copyright {
  color: #b8b8b8;
  margin-top: 0px;
}

.list-inline {
  display: flex;
  justify-content: space-evenly;
  text-align: right;
  margin-top: 10px;
}

.privacidade:hover {
  color: #D23333;
}

.faq:hover {
  color: #D23333;
}

.ajuda:hover {
  color: #D23333;
}


@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    padding: 10px 0px;
    height: 8rem;
  }

  .footer-links {
    display: none;
  }
}

@media (max-width: 445px) {
  .footer {
    flex-direction: column;
    padding: 10px 0px;
    height: 7rem;
  }
  .footer h3{
    font-size: 0.7rem;
  }

  .footer-copyright h3 {
    font-size: 1rem!important;
  }

  ul.list-inline {
    display: flex;
    justify-content: space-evenly;
    text-align: right;
    margin-top: 10px;
    font-size: 0.8rem;
  }
}
