.container {
  width: 100vw;
  
}

#form-container{
  background-color: #375770;
  width: 50vw;
  margin-top: 40px;
  padding: 10px;
}

.container-extra:none{
  background-color: white;
  margin-bottom: 50px;
}

.form-inputs {
  text-align: center;
  color:  white;
}

.form-label date required{
  display: none;
}