.container {
  width: 100vh;
}

#form-container{
  background-color: #012a4a8c;
  width: 50vw;
  margin-top: 40px;
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
}

.container-extra:none{
  background-color: white;
}

.form-inputs {
  text-align: center;
  color:  white;
}
