#map {
  display: flex;
  justify-content: space-between;
  // margin-top: 100px;
  border-radius: 10px;
  border: 1px solid;
  border-color: lightgrey;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
// .map {
//   display: grid;
//   justify-content: center;
// }
#cep {
  margin-top: 40px;
}
.btn-buscar {
  border-radius: 10px;
  border: 1px solid;
  background-color: lightgreen;
  padding: 15px 10px;
}
.map {
  margin-top: 40px;
}
.container.todo-index {
  width: 85vw;
  margin-bottom: 3vh;
}

@media (max-width: 768px) {
  .container.todo-index {
    width: 100%;
  }

  .container.todo-index h3 {
    text-align: right;
  }

  .container.todo-index h2 {
    font-size: 1.5rem;
  }

}
