.navbar{
  display: flex;
  justify-content: space-between;
  background-color: #08528f42;
}

.logo{
  justify-content: flex-start;
}

.menu{
  display: contents;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}
.nav-link {
  font-family: "Nunito", sans-serif;
  font: size 10vw;
  font-weight: bold;
}

.nav-item {
  margin-left: 10px;
}

.navbar-fixed{
  background-color: #08528f;
  align-items: center;
  transition: linear;
  transition-duration: 250ms;
}