.navbar{
  display: flex;
  justify-content: space-between;
  background: linear-gradient(180deg, rgba(1,42,74,1) 0%, rgba(1,42,74,1) 40%, rgba(1,42,74,0.9) 100%);
}

.logo{
  justify-content: flex-start;
}

.menu{
  display: contents;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}
.nav-link {
  font-family: "Nunito", sans-serif;
  font: size 10vw;
  font-weight: bold;
}

.nav-item {
  margin-left: 10px;
}

.nav-item a {
  color: white;
}
.navbar-fixed{
  background: linear-gradient(180deg, rgba(1,42,74,1) 0%, rgba(1,42,74,1) 40%, rgba(1,42,74,0.8) 100%);
  align-items: center;
  transition: linear;
  transition-duration: 350ms;
}

.nav-link a {
  color: #012A4A;
}

.navbar-fixed a {
  color: white;
}

.reportar:hover {
  color: rgb(175, 175, 175);
}

.fraudes:hover {
  color: rgb(175, 175, 175);
}

.prevencao:hover {
  color: rgb(175, 175, 175);
}

.sobre:hover {
  color: rgb(175, 175, 175);
}
