.container.search {
  width: 100vw;
  border: 1px solid;
  color: lightgrey;
  border-radius: 10px;
  padding: 20px;
  height: 75vh;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
