.container.search {
  width: 100vw;
  border: 1px solid;
  color: lightgrey;
  border-radius: 10px;
  padding: 25px;
  height: 50%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

a.btn.btn-secondary.reset {
  padding-top: 12px;
}

select#advanced-search-input.form-select {
  color: #666666;
}


input[type="date"]::before {
  color: #999999;
  content: attr(placeholder) !important;
}
input[type="date"] {
  color: #ffffff;
}
input[type="date"]:focus,
input[type="date"]:valid {
  color: #666666;
}
input[type="date"]:focus::before,
input[type="date"]:valid::before {
  content: "" !important;
}

@media (max-width: 990px) {
  div.dropdown-search-mobile {
    display: none;
  }

  table.table {
    margin-top: 1.5rem;
  }

  button.btn.btn-primary.search {
    font-size: 1.5rem;
    width: 45%;
    margin-top: 10px;
  }

  a.btn.btn-secondary.reset {
    font-size: 1.5rem;
    width: 45%;
    margin-top: 10px;
    margin-left: 9%;
  }
}

@media (max-width: 768px) {
  // Display the search form collapsed on mobile

  #dropdownMenuButton1 {
    width: 100%;
    background-color: #012a4a;
    margin-bottom: 0px;
    border-radius: 10px;
  }
  .dropdown-menu.show {
    font-size: 1.5rem;
    width: 100%;
  }
  .button-icon {
    padding: 10px;
  }

  ul li i.fa.fa-search {
    font-size: 1.5rem;
  }
  ul li i.fa.fa-times {
    font-size: 1.5rem;
  }

  select#advanced-search-input.form-select {
    font-size: 1.5rem;
  }

  input#zip.form-control {
    font-size: 1.5rem;
  }

  input#query.form-control {
    font-size: 1.5rem;
  }

  table.table {
    margin-top: 1.5rem;
  }

  div.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button.btn.btn-primary.search {
    font-size: 1.5rem;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  a.btn.btn-secondary.reset {
    font-size: 1.5rem;
    width: 100%;
    margin-bottom: 10px;
    margin-left: 0;
  }

  input[type="date"]::before {
    color: #999999;
    content: attr(placeholder) !important;
  }
  input[type="date"] {
    color: #ffffff;
  }
  input[type="date"]:focus,
  input[type="date"]:valid {
    color: #666666;
  }
  input[type="date"]:focus::before,
  input[type="date"]:valid::before {
    content: "" !important;
  }
}
