.table {
  width: 100%;
  // margin-top: 40px;
}


.borda{
  border: 1px solid blue
}

@media (max-width: 768px) {
  .pagination {
    font-size: 1rem;

    li:last-child {
      display: none;
    }

    li:nth-last-child(2) {
      display: none;
    }
  }

  .table-striped {
    font-size: 1rem;
  }

  // Remove table date
  .table td:nth-child(1) {
    display: none;
  }
  .table th:nth-child(1) {
    display: none;
  }
}
