.table {
  width: 100%;
  // margin-top: 40px;
}

.borda {
  border: 1px solid blue;
}
@media (min-width: 500px) {
  .paginate-mobile {
    display: none;
  }
}

@media (max-width: 500px) {
  .pagination {
    // Show first and last page
    display: none;
  }

  span.registrada-sm {
    display: none;
  }
}
